*{
    margin: 0px;
    padding: auto;
}

body{
    background-image: url("green\ tree.jpg");
    background-position: center;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.navbar{
    height: 60px;
    background:black;
    opacity: 0.8;
}


#icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#icon a{
    color: rgb(247, 245, 245);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

#icon a i{
    margin-top: 14px;
    color: rgb(249, 247, 247);
    font-weight: bold;
    cursor: default;

}

#icon a:hover{
    color: rgb(169, 28, 28);
    text-decoration: underline;
}

select{
    background: none;
    border: none;
    font-size: 20px;
    font-weight:bold;
    font-family:serif;
    color: white;
    max-width: fit-content;
    width: 130px;
    cursor: pointer;
    appearance: none;

    
}

.anim select:hover{
    color: rgb(190, 7, 7);
    text-decoration: underline;
}
option{
    
    background-color: rgb(15, 14, 14);
}

/* explore */

.head{
    height: 400px;

}
.heading{
    display: flex;
    font-size: 28px;
    font-weight: bold;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin-top:70px ;
    
}

.img6{
    background-image: url("bear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0px 0px 4px white;
    transition: transfrom 0.3s ease;
}

.img6:hover{
    overflow: hidden;
    transform: scale(1.2) ; 


}
.para{
    /* height: 100px; */
    width: 200px;
    text-shadow: 0px 0px 4px white;
}
.p{
    font-weight: 300;
    font-size: 16px;
    width: 150px;
    margin-top: 14px;
}


.btn{
    border: none;
    font-size: 19px;
    margin-top: 10px;
    box-shadow: 0px 0px 4px white;
    border-radius: 10px;
    background:linear-gradient(white,green);
     transition: transform 0.3s ease;    
}

.btn:hover{
    transform: scale(1.1);
}

/* line */

.line{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: beige;
    margin: 2px;
    height: 5vh;
    opacity: 0.7;
    font-weight: bold;

    
}
.line a{
    text-decoration: none;
    margin-left: 2px;
    

   
}

/* image */
.img{
    
    display: flex; 
    justify-content:center;
    align-content: center;
    flex-wrap: nowrap;
    
    
     margin: 10px;

    
}

.img1{
    background-image: url("elephant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 580px;
    
    transition: transfrom 0.3s ease;
}

.img1:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}



 .img2{
    background-image: url("ant.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 300px;
    width: 580px;
    
    transition: transfrom 0.3s ease;

    
}
.img2:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}

.img3{
    background-image: url("monkey_5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 300px;
    width: 580px;
    

    transition: transfrom 0.3s ease;
}
.img3:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}

.img4{

     background-image: url("bird.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 300px;
    width: 580px;
    transition: transfrom 0.3s ease;

}
.img4:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}

.img5{
    background-image: url("bear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 580px;
    
    transition: transfrom 0.3s ease;
}

.img5:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}


.img7{
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 580px;
    
    transition: transfrom 0.3s ease;

}

.img7:hover{
    overflow: hidden;
    transform: scale(1.2) ; 
}

.details p{
    color:aliceblue;
    text-align: center;
    font-size: 27px;
    font-weight: 900;
    background-color: cornflowerblue;
    
}

.elephant{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
    text-align: center;
}
.ant{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
     cursor: default;
      text-align: center;
}
.monkey{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
     cursor: default;
      text-align: center;
}
.bird{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
     cursor: default;
      text-align: center;
}
.bear{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
     cursor: default;
      text-align: center;
}
.cat{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
     cursor: default;
      text-align: center;
}
.para1{
    font-weight: 300;
    color: black;
    margin: 10px;
    font-size: 19px;
    text-overflow: clip;
    padding: 10px;
    background-color: rgb(156, 197, 163);
    cursor:text ;
    transition: transform 0.3s ease;

}

.para1:hover{
    transform: scale(1.1);
}


.lline{
    background-color: rgb(75, 78, 78);
    text-align: center;
    height: 20px;
    margin: 10px;
     border-radius: 15px;
     
}

.lline  a{
   
   padding: 10px;
   color: aliceblue;
   cursor: default;
   text-decoration: none;
   text-align: center;
}